{{ partial "head.html" . }}
{{ partial "top.html" . }}
{{ if (not (isset .Params "image")) | or (eq .Params.image "") }}
  <!--  do nothing -->
{{ else }}
  <section id="banner" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')">
    <header></header>
  </section>
{{ end }}

<!-- Highlights -->
<section class="wrapper style1">
  <div class="container">
    {{ range .Params.clients }}
    <div class="row 200%">
        <div class="4u 12u(narrower)"></div>
        <section class="2u 5u(narrower)">
          <a href="{{ .link }}" style="border: none;"><img src="{{ .thumbnail }}" alt="" style="max-width: 150px;"></a>
        </section>
        <section class="2u 7u(narrower)">
          <h3><a href="{{ .link }}">{{ .name }}</a></h3>
        </section>
        <div class="4u 12u(narrower)"></div>
    </div>
    {{end}}
  </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
  <div class="container">
    <header class="major">
      <p>Instagram <a href="https://www.instagram.com/thehillsoundstudio/">@thehillsoundstudio</a></p>
      <script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/0170480bd2475f4980bc38d85e287e0b.html" id="instansive_0170480bd2" name="instansive_0170480bd2"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </header>
  </div>
</section>

{{ partial "foot.html" . }}
